<div>
  <button class="btn" (click)="goBack()">Back</button>

  <h1>Title</h1>

  <p>Text</p>

  <button class="btn btn-danger" (click)="loadPost()">Load 4 post</button>

  <div>
    <div class="card" *ngFor="let post of posts">
      <p>
        <span>{{ post.title | titlecase }}</span>
      </p>
    </div>
  </div>
</div>
